name: build
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux
      options: --privileged
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup
    strategy:
      fail-fast: false
      matrix:
        python: [35, 36, 37]
      max-parallel: 1
    steps:
      - name: Get date
        id: date
        run: echo "::set-output name=date::$(date +%F)"

      - name: Cache
        uses: actions/cache@v1
        with:
          path: /var/cache/pacman/pkg
          key: arch-pkgs-${{ steps.date.outputs.date }}
          restore-keys: arch-pkgs

      - name: Update system and install dependencies
        run: pacman -Syu --noconfirm --noprogressbar --needed base-devel devtools btrfs-progs dbus sudo git

      - name: Checkout master
        uses: actions/checkout@v2
        with:
          path: master

      - name: Check for source changes
        id: check
        env:
          PREVIOUS: ${{ github.event.before }}
          CURRENT: ${{ github.sha }}
          PY_VER: ${{ matrix.python }}
        run: |
          cd "$GITHUB_WORKSPACE"/master
          git fetch origin $PREVIOUS
          git diff --name-only $PREVIOUS $CURRENT | grep -q python$PY_VER && echo '::set-output name=run::true' || true

      - name: Checkout repo
        if: steps.check.outputs.run == 'true'
        run: git clone --branch gh-pages https://github.com/${{ github.repository }}.git repo

      - name: Populate /etc/machine-id
        if: steps.check.outputs.run == 'true'
        run: dbus-uuidgen --ensure=/etc/machine-id

      - name: Setup git
        if: steps.check.outputs.run == 'true'
        run: |
          git config --global user.email actions@github.com
          git config --global user.name 'Github Actions'
          git config --global core.editor true

      - name: Setup mkepkg configuration
        if: steps.check.outputs.run == 'true'
        run: |
          mkdir -p "$HOME"/{sources,srcpackages,makepkglogs}
          sed -i -e "s|MAKEFLAGS=.*|MAKEFLAGS=-j$(nproc)|" \
                 -e "s|#PKGDEST=.*|PKGDEST='$GITHUB_WORKSPACE/repo'|" \
                 -e "s|#SRCDEST=.*|SRCDEST='$HOME/sources'|" \
                 -e "s|#SRCPKGDEST=.*|SRCPKGDEST='$HOME/srcpackages'|" \
                 -e "s|#LOGDEST=.*|LOGDEST='$HOME/makepkglogs'|" \
                 -e 's|!ccache|ccache|' \
                 /etc/makepkg.conf

      - name: Setup build user
        if: steps.check.outputs.run == 'true'
        run: |
          useradd -m user
          chown -R user "$HOME" "$GITHUB_WORKSPACE"

      - name: Remove existing packages
        if: steps.check.outputs.run == 'true'
        env:
          PY_VER: ${{ matrix.python }}
        run: |
          rm -f "$GITHUB_WORKSPACE"/repo/python$PY_VER*.pkg.*

      #- name: Fetch Python release PGP keys
      #  if: steps.check.outputs.run == 'true'
      #  run: gpg --recv-keys 0D96DF4D4110E5C43FBFB17F2D347EA6AA65421D

      - name: Build package
        if: steps.check.outputs.run == 'true'
        env:
          PY_VER: ${{ matrix.python }}
        run: |
          cd "$GITHUB_WORKSPACE"/master/python$PY_VER
          extra-x86_64-build -- -U user -- --skippgpcheck

      - name: Generate repo database
        if: steps.check.outputs.run == 'true'
        env:
          PY_VER: ${{ matrix.python }}
        run: |
          cd "$GITHUB_WORKSPACE"/repo
          repo-add python.db.tar.gz python$PY_VER*.pkg.*
          rm -f *.old

      - name: Generate index.html for repo
        if: steps.check.outputs.run == 'true'
        run: |
          "$GITHUB_WORKSPACE"/master/generate-index.sh "$GITHUB_WORKSPACE"/repo

      - name: Commit packages
        if: steps.check.outputs.run == 'true'
        run: |
          cd "$GITHUB_WORKSPACE"/repo
          git add -u
          git add *
          git commit --fixup HEAD || true
          git rebase -i --autosquash --root

      - name: Push changes
        if: steps.check.outputs.run == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          branch: gh-pages
          directory: repo
          force: true
